@import 'tools';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    &:focus {
        outline: none
    }
}

body {
    background: #20213f;
}

.container {
    margin: 100px auto;
    border-radius: 10px;
    width: 90%;
    height: 850px;
    box-shadow: 0 0 10px black;
    min-height: 500px;
    overflow: hidden;
}

.shopping-cart {
    @include box-size($width: 70%);
    float: left;
    z-index: 100;
    background-color: #ffffff;
    padding: 50px;
    &__title {
        border-bottom: 1px solid #80808056;
        padding-bottom: 20px;
    }
    &__item {
        @include flex($justify: space-between);
        &__image {
            @include box-size($width: 100px, $height: 100px);
        }
        padding: 30px 0;
    }
    &__header {
        @include flex($justify: space-between);
        &__sub {
            @include flex($justify: space-around);
        }
    }
}

.order-summary {
    @include box-size($width: 30%);
    background-color: #f3f3f3;
    z-index: 100;
    padding: 50px;
    @include flex($direction: column, $justify: space-between, $align: space-between);
    &__title {
        border-bottom: 1px solid #80808056;
        padding-bottom: 20px;
    }
    &__total-items {
        padding: 40px 0;
        border-bottom: 1px solid #80808056;
    }
    &__discounts {
        border-bottom: 1px solid #80808056;
        margin: 20px auto;
        &__item {
            padding: 10px 0;
        }
    }
    &__total-summary {
        border-top: 1px solid #80808056;
    }
}

.button {
    &--decrement,
    &--increment {
        border: none;
        color: #7250ff;
        font-size: 24px;
    }
    &--primary {
        background-color: #7250ff;
        color: white;
        font-size: 24px;
        height: 60px;
        width: 100%;
        border-radius: 6px;
    }
}

input {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid grey;
}