* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &:focus {outline:none}
}

body {
	background: #20213f;
}

.container {
	margin: 100px auto;
	border-radius: 10px;
	width: 90%;
	height: 850px;
	box-shadow: 0 0 10px black;
    min-height: 500px;
    overflow: hidden;

    &__title{
        border-bottom: 1px solid grey;
        padding-bottom: 20px;
	}
}